.PersonalInfoContainer{
    background-color: #042C54;
    border-radius: 30px;
    margin: 0 auto;
    padding: 10px;
    width: 70%;
}
.PersonalDisplay{
    display: flex;
    flex-direction: column;
}
.PersonalInfoInputContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
.PersonalInfoInput
{
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
}
.PersonalInfoTitle{
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    background: -webkit-linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .PersonalInfoBtn{
    padding: 0.5rem 1rem;
    width: 8rem;
    color: #fff;
    background: #ff4820;
    font-family: var(--font-family);
    font-weight: 500;
    align-self: center;
    font-size: 16px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 2rem;    
  }