.card {
  width: 550px;
  background:linear-gradient(103.22deg, rgba(4, 40, 76, 0.934375) 99.55%,rgba(71, 174, 234, 1) 13.86%);
  height: 800px;
  position: relative;
  border-radius: 1rem;
  padding: 2rem;
  opacity: 0.9;
  margin: 0 auto;
}

@media only screen and (max-width: 620px) {
  .card {
    width: 90vw;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-height: 670px) {
  .card {
    height: 750px;
  }
}