  
  .img {
    width: 10rem;
    height: 10rem;
    margin-left: 3rem;
  }
  .h {
    width: 582px;
    height: 89px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    margin-left: 10px;
    font-size: 42px;
    line-height: 85px;
    letter-spacing: -0.04em;
    background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
  }
  