.ChangePasswordContainer{
    background-color: #0e0d0d;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    width: 70%;
}
.PersonalDisplay{
    display: flex;
    flex-direction: column;
}
.ChangePasswordInputContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.ChangePasswordInput
{
    border-radius: 20px;
    margin-top: 20px;

    padding: 10px;
}
.ChangePasswordTitle{
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    color: white;
    text-align: center;
  }
  .ChangePasswordBtn {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ff4820;
    font-family: var(--font-family);
    font-weight: 500;
    align-self: center;
    font-size: 16px;
    line-height: 25px;
    width: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 2rem;
  }
  