.sideBar{
    position: fixed;
    width: 200px;
    height: 100vh;
    z-index: 15;
    left: 0px;
    top: 0px;
    border-radius: 36px 0px 0px 36px;
    }

    @media (max-width:768px){
        .sideBar{

            width:60%;
    }
}

@media (max-width:576px){
    .sideBar{

        width:100%;
}
}